/* Подключаем локальный шрифт */
@font-face {
  font-family: "Pixelify Sans";
  src: url("../assets/fonts/PixelifySans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
}

canvas {
  display: block;
}
